@CHARSET "ISO-8859-1";

body {
  font-size: 16px;
  color: #000;
  background-color: #f7f9df;
  font-family: 'Oxygen', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #A0DEA2;
    color: white;
}


th, td {
    padding: 0.3em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #fff;
}

caption {
	padding: 0.3em;
	background-color: #4CAF50;
    color: white;
    margin-bottom: 0.3em;
  	font-size: 1.3em;
}

form:errors {
	color: red;
}